<app-header></app-header>
<div class="reclama">
  <div class="reclama-left-side">
    <p class="reclama-left-side-text">Забронируйте мойку в пару кликов!</p>
    <button class="reclama-left-side-button">Записаться</button>
  </div>
  <div class="reclama-right-side">
    <img class="reclama-right-side-img" src="assets/images/reclama.png">
  </div>
</div>
<div class="about-us">
  <h2 class="about-us-title">Почему вам стоит выбрать нас</h2>
  <div class="about-us-recomendations">
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/recomendation.png"/>
      <h3 class="about-us-recomendations-item-title">Гарантия качества</h3>
      <p class="about-us-recomendations-item-text">При бронировании онлайн вы можете ознакомиться с отзывами других клиентов об автомойке.</p>
    </div>
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/recomendation.png"/>
      <h3 class="about-us-recomendations-item-title">Гарантия качества</h3>
      <p class="about-us-recomendations-item-text">При бронировании онлайн вы можете ознакомиться с отзывами других клиентов об автомойке.</p>
    </div>
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/recomendation.png"/>
      <h3 class="about-us-recomendations-item-title">Гарантия качества</h3>
      <p class="about-us-recomendations-item-text">При бронировании онлайн вы можете ознакомиться с отзывами других клиентов об автомойке.</p>
    </div>
    <div class="about-us-recomendations-item">
      <img class="about-us-recomendations-item-img" src="assets/images/recomendation.png"/>
      <h3 class="about-us-recomendations-item-title">Гарантия качества</h3>
      <p class="about-us-recomendations-item-text">При бронировании онлайн вы можете ознакомиться с отзывами других клиентов об автомойке.</p>
    </div>
  </div>
  <button class="about-us-button">Перейти к оформлению</button>
</div>
<app-footer></app-footer>
