<header class="header">
  <div class="container">
    <div class="header-logo">
      <a>
        <img src="assets/images/logo.svg" alt="Logo"/>
      </a>
    </div>
    <div class="user-info">
      <div class="user-group">
        <img class="user-img" style="margin-right: 6px" src="assets/images/user.svg"/>
        <label style="font-weight: 700; font-size: 15px;">Михаил</label>
      </div>
      <div class="notification">
        <img src="assets/images/notification.svg"/>
      </div>
      <div class="messages">
        <img src="assets/images/messages.svg"/>
      </div>
    </div>
  </div>
  <div>

  </div>
</header>
