<app-header></app-header>
<div class="order-registration" *ngIf="isVisibleFirst">
  <h2 class="Inter order-registration-title">Оформление заявки</h2>
  <div class="step">
    <label class="step-label Inter">Шаг 1 из 3 • Выбор автомойки</label>
  </div>
  <div>
    <iframe class="map" src="https://yandex.com/map-widget/v1/?um=constructor%3Afc839d57eb45a05d5bc6c1c476ca3bb5ed94143e5f1a1b291a61214bfacd35a5&amp;source=constructor" width="1120" height="580" frameborder="0">

    </iframe>
  </div>
  <div class="car-washes">
    <div class="car-washes-item" *ngFor="let carWash of carWashes">
      <img class="car-washes-item-image" src="assets/images/car-wash.png"/>
      <h3 class="Inter car-washes-item-title">{{ carWash.name }}</h3>
      <label class="Inter car-washes-item-address">{{ carWash.address }}</label>
      <label class="Inter car-washes-item-phone">{{ carWash.phoneNumber }}</label>
      <label class="Inter car-washes-item-price">{{ carWash.name }}</label>
      <button class="Inter car-washes-item-button"
              [ngClass]="{'selected': selectedCarWashId === carWash.id}"
              (click)="selectCarWash(carWash.id)">
        <ng-container *ngIf="selectedCarWashId === carWash.id; else notSelected">Выбрано</ng-container>
        <ng-template #notSelected>Выбрать</ng-template>
      </button>
    </div>
  </div>
  <button class="Inter continue-button" [disabled]="selectedCarWashId === null" (click)="goToSecondStep()"
          [ngStyle]="{'opacity': selectedCarWashId === null ? '0.5' : '1', 'cursor': selectedCarWashId === null ? 'not-allowed' : 'pointer'}">Далее</button>
</div>
<div class="order-registration reg-step2" *ngIf="isVisibleSecond && selectedCarWashId !== null">
  <h2 class="Inter order-registration-title">Оформление заявки</h2>
  <div class="step">
    <label class="step-label Inter">Шаг 2 из 3 • Выбор услуг</label>
  </div>
  <div class="car-wash-info">
    <img src="assets/images/carWash.png" class="step2-photo"/>
    <h3 style="margin: 0;" class="Inter">{{ carWashes[selectedCarWashId - 1].name }}</h3>
    <div style="display: flex; flex-direction: column; margin-bottom: 50px">
      <label class="Inter">{{ carWashes[selectedCarWashId - 1].address }}</label>
      <label class="Inter">{{ carWashes[selectedCarWashId - 1].phoneNumber }}</label>
    </div>
    <div style="display: flex; flex-direction: column; margin-bottom: 85px;">
      <h3 style="margin: 0 0 7px 0;" class="Inter">Описание</h3>
      <p style="margin: 0;" class="Inter">{{ carWashes[selectedCarWashId - 1].description }}</p>
    </div>
  </div>
  <div style="display: flex; flex-direction: column;">
    <div class="service" *ngFor="let service of carWashes[selectedCarWashId - 1].services; let i = index"
          [ngClass]="{'selected-service': isSelected(i)}"
          (click)="toggleServiceSelection(i)">
      <label class="Inter">{{ service.name }}</label>
      <div style="display: flex; flex-direction: column;">
        <label class="Inter">{{ service.price }} Р</label>
        <label class="Inter">~{{ service.duration }} мин</label>
      </div>
    </div>
  </div>
  <button class="Inter continue-button" [disabled]="selectedServicesIndices.length === 0"
          [ngStyle]="{'opacity': selectedServicesIndices.length === 0 ? '0.5' : '1', 'cursor': selectedServicesIndices.length === 0 ? 'not-allowed' : 'pointer'}"
          (click)="sendOrder()">
    Забронировать
  </button>
</div>
<app-footer></app-footer>
