@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-Regular.ttf") format("truetype");
}

.body {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

.html {
  box-sizing: border-box;
}

.div {
  box-sizing: border-box;
}

.Inter {
  font-family: Inter, serif;
}
